<!DOCTYPE HTML>
<html>
  <head>
    <title>添加Money</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/testStyle.css">
    <script type="text/javascript" src="https://l2.io/ip.js?var=myIP"></script>
  </head>
  <body>
    <div id = "no_auth" >
      <h1> 你没有权限看这个 </h1>
    </div>

    <div id = "auth_submit" style="display:none">
      <form action="/HuaTaiAddMoeny/addMoney" method="POST">
        <div>
          <p>name</p>
          <input type="text" name="name" />
        </div>
        <div>
          <p>money</p>
          <input type="text" name="money" />
        </div>
        <div>
          <p>version</p>
          <input type="text" name="version" />
        </div>
        <div>
          <input class="button_add" style="margin-top: 30px;" type="submit" value="添加" />
        </div>
      </form> 
    </div>

  </body>
</html>

<script type="text/javascript">

  var var_ip = myIP;

  var sameIP = function() {
    if (var_ip == "114.141.190.122") {
      document.getElementById('no_auth').style.display = "none";
      document.getElementById('auth_submit').style.display = "";
    }
  }

  sameIP();

</script>