<html>
  <head>
    <title>test html</title>
    <link rel="stylesheet" href="/stylesheets/testStyle.css">
  </head>
  <body>

    <h2>  不同颜色  </h2>
    <div class="class1"> abcdefghijklmn<font class="class2">1234</font>abcdf </div>

  </body>
</html>